In [ ]:
%sql
DROP DATABASE IF EXISTS TransformedData CASCADE;

CREATE DATABASE IF NOT EXISTS TransformedData;

In [ ]:
%sql
SHOW DATABASES;

In [ ]:
%sql
DESCRIBE DATABASE TransformedData